@import "../../config";

#contact {
  min-height: calc(100vh - $nav-height);
  scroll-margin: $nav-height;
  background-color: $blue;
  .contact__text {
    margin: 2rem 0;
    color: $light-text;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .contact__text-input,
    .contact__message {
      background-color: rgb(219, 219, 219);
      border: none;
      margin-bottom: 2rem;
      padding: 1rem;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
    }
    .contact__message {
      height: 25rem;
    }
    .contact__submit-button {
      background-color: $red;
      border: none;
      padding: 1rem;
      border-radius: 300px;
      font-size: 2rem;
      color: $light-text;
    }
    @include tablet {
      width: 80%;
    }
  }
}
