@import "../../config";

#portfolio {
  min-height: calc(100vh - $nav-height);
  scroll-margin: $nav-height;
  background-color: $blue;
  color: $red;
  padding-bottom: 2rem;
  .portfolio-text {
    color: $light-text;
  }
  .projects-grid {
    display: grid;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@keyframes project-slide {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
