@import "../../../config";

.project-btn {
  font-size: 1.6rem;
  width: 12rem;
  border: none;
  background-color: $red;
  color: $light-text;
  font-weight: 600;
  border-radius: 100px;
  box-shadow: 0 0.3rem 1rem rgba($color: #000000, $alpha: 0.3);
  height: 4rem;
  cursor: pointer;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .git-icon {
    font-size: 2.3rem;
    margin-right: 1rem;
  }
}
