@import "../../../config";

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  position: static;
  $title-height: 5rem;
  height: 90%;
  background-color: white;
  border-radius: 1rem;
  animation: modal-open 0.3s ease-in-out;
  animation-fill-mode: backwards;
  transform-origin: -30% -30%;
  overflow-y: scroll;
  color: $blue;
  padding: 0 10px;
  .modal-title-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $blue;
    height: $title-height;
    padding: 0 0.5rem;
    display: flex;
    .modal-close {
      position: absolute;
      top: 0.3rem;
      right: 0.5rem;
      font-size: 4rem;
      color: $red;
    }
    .project-title {
      margin: auto 0;
      font-size: 3rem;
      color: $red;
    }
  }
  .project-image {
    width: 100%;
    margin-top: $title-height;
  }
  .tech-used-wrapper {
    margin-top: 2rem;
    .tech-icon {
      font-size: 3rem;
      margin: 0.5rem;
    }
  }
}

.modal-title {
  font-size: 3rem;
}

@keyframes modal-open {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
