@import "../../../config";

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  position: static;
  $title-height: 5rem;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  animation: modal-open 0.3s ease-in-out;
  animation-fill-mode: backwards;
  transform-origin: -30% -30%;
  overflow-y: scroll;
  color: $blue;
  padding: 0 1rem;
  padding-bottom: 2rem;
  .modal-title-bar {
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $blue;
    height: $title-height;
    padding: 0 0.5rem;
    display: flex;
    z-index: 1000;
    .modal-close {
      position: absolute;
      top: 0.3rem;
      right: 0.5rem;
      font-size: 4rem;
      color: $red;
    }
    .project-title {
      margin: auto 0;
      font-size: 3rem;
      color: $red;
    }
  }
  .project-image {
    width: 100%;
    height: auto;
    border: 2px solid $red;
    margin-top: calc($title-height + 1rem);
  }
  .button-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    .modal-btn {
      background-color: $red;
      width: 12rem;
      height: 4rem;
      border: none;
      border-radius: 100px;
      font-size: 2rem;
      color: $light-text;
      display: flex;
      align-items: center;
      justify-content: center;
      .git-icon {
        font-size: 2.8rem;
        margin-right: 0.7rem;
        * {
          display: block;
        }
      }
    }
  }
  .tech-used-wrapper {
    width: 100%;
    justify-content: space-around;
    .tech-icon-wrapper {
      display: flex;
      justify-content: space-around;
      .tech-icon {
        font-size: 3rem;
        margin-right: 1rem;
      }
    }
  }
  .challenge-item {
    margin-left: 2rem;
    font-size: 1.7rem;
  }
}

.modal-title {
  font-size: 3rem;
}

.modal-heading {
  font-size: 2.3rem;
}

@keyframes modal-open {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
