@import "../../../config";

.project__wrapper {
  min-width: 22rem;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 10px;
  margin-bottom: 2rem;
  max-width: 40rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 2px solid $yellow;
  margin: 0 auto;
  margin-bottom: 2rem;
  @include tablet {
    margin: 1rem;
  }
  .project__image {
    display: block;
    width: 100%;
  }
  .project__icons-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $red;
    padding: 0.5rem 0;
    border-top: 4px solid $yellow;
    .project__icon {
      font-size: 3rem;
      color: $blue;
      * {
        display: block;
        margin: auto;
      }
    }
  }
  .project__btn-wrapper {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
  .project__more-button {
    background-color: $red;
    border: none;
    border-radius: 100px;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: $light-text;
    animation: buttonWiz 0.2s ease-in 0.4s;
    animation-fill-mode: backwards;
    @include tablet {
      font-size: 1.6rem;
    }
  }
}

@keyframes buttonWiz {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
