@import "../../config";

#nav {
  background-color: $blue;
  color: $red;
  height: $nav-height;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 2px 5px rgba($color: white, $alpha: 0.2);
  z-index: 1000;
  .nav-logo {
    font-size: 4rem;
  }
  .nav-items {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $yellow;
    font-size: 4rem;
    display: none;
    z-index: 1000;
    ul {
      margin: auto;
      list-style: none;
      transition: all 2s ease-in-out;
      .list-item {
        margin: 2rem 0;
        font-weight: 600;
      }
    }
    &.open {
      display: flex;
      animation: menu-open 0.2s ease-in-out;
      animation-fill-mode: backwards;
    }
  }
  .nav-close-btn {
    color: $blue;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    animation: closeAppear 0.2s ease-in-out 0.2s;
    animation-fill-mode: backwards;
  }
  .social-icons {
    color: $blue;
    font-size: 4rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    animation: closeAppear 0.2s ease-in-out 0.2s;
    animation-fill-mode: backwards;
    .icon {
      margin-right: 1rem;
    }
  }
  .burger-btn {
    position: absolute;
    top: 1.7rem;
    right: 1.5rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      display: block;
      background-color: $red;
      height: 0.2rem;
      width: 100%;
      margin: 0.4rem 0;
      &:last-of-type {
        width: 70%;
      }
    }
  }
}

////////// Key Frames ///////////

@keyframes menu-open {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes closeAppear {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menu-items-in {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

////////// Loops ///////////

@for $i from 1 through 4 {
  .list-item:nth-child(#{$i}) {
    animation: menu-items-in calc(#{$i}* 100ms) ease-out;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
  }
}
