@import "../../config";

#about {
  min-height: calc(100vh - $nav-height);
  scroll-margin: $nav-height;
  background-color: white;
  font-size: 1.6rem;
  color: $red;
  .about__text {
    color: $blue;
  }
  .about__me {
    display: block;
    margin: 3rem auto;
    width: 60%;
    border-radius: 1000px;
    transform: rotate(2deg);
    z-index: 0;
  }
  .about__skills-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem auto;
    @include tablet {
      width: 90%;
    }
  }
  .about__download-cv {
    display: block;
    text-align: center;
    width: 20rem;
    margin: 2rem auto;
    padding: 1.5rem 2rem;
    background-color: $red;
    color: $light-text;
    border-radius: 400px;
  }
}
