@import "../../config";

#footer {
  .footer__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-image: url("../../media/images/hero-background.png");
    background-size: cover;
    z-index: -1;
  }
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  .footer__logo {
    font-size: 4rem;
    font-weight: 600;
    color: $red;
    text-align: center;
  }
  .footer__menu {
    text-align: center;
    font-size: 2rem;
    .footer__item {
      margin: 1.5rem 0;
      list-style: none;
    }
  }
  .footer__copyright {
    font-size: 1.5rem;
    text-align: center;
    color: $red;
  }
  .social-links {
    bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
    color: $blue;
    * {
      margin: 0 0.7rem;
    }
  }
}
