@import "../../config";

#hero {
  margin-top: $nav-height;
  min-height: calc(100vh - $nav-height);
  background-image: url("../../media/images/hero-background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  .hero-heading {
    text-align: center;
    color: $red;
    font-size: 5rem;
    display: block;
    margin-top: 30%;
  }
  .hero-subheading {
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-indent: 0.3rem;
    font-weight: 100;
  }
}
