@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

$blue: #1a2238;
$purple: #9daaf2;
$red: #ff6a3d;
$yellow: #f4db7d;
$light-text: white;
$nav-height: 6.8rem;
html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-underline-offset: 0.3rem;
}

p {
  font-size: 1.6rem;
}

.container {
  padding: 1rem;
}

.title-text {
  font-size: 4rem;
}

.divider {
  width: 100vw;
  height: 0.3rem;
  background-color: $yellow;
  margin: 0.5rem 0;
  margin-left: -1rem;
}

a {
  color: unset;
  text-decoration: none;
}