@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

$blue: #1a2238;
$purple: #9daaf2;
$red: #ff6a3d;
$yellow: #f4db7d;
$light-text: white;
$nav-height: 6.8rem;
html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}